
.addpro form{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}
.addpro input, textarea{
    width: 40%;
}
.addpro-sec{
    background-color: rgb(255, 245, 245);
    padding-top: 40px;
    padding-bottom: 50px;
}
@media only screen and (max-device-width: 960px) {
    .addpro input{
        width: 80%;
    }
    .car-img{
        padding: 70px;
    }
    .addpro-sec{
        background-color: rgb(211,211,211);
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        
    }
}
